.header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 0 240px; 
    background-image: url("../img/bg/bg-header.jpg");
    background-repeat: repeat-y;
    background-position: center;
}

.wrapper-content {
    display: flex;
    justify-content: space-between;
}

.header-content {
    max-width: 50%;
    z-index: 1;
}

.name {
    margin-bottom: 28px;
}

.header-name {    
    position: relative;
    color: #000000;
    font-size: 80px;
    font-weight: 800;
    z-index: 2;
    line-height: 1.1;

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 12px;
        bottom: 10%;
        left: -5px;
        right: -5px;
        background-color: #fbdc4d;
        z-index: -1;
    }   
 
 }

.content-desc p { 
    margin-bottom: 35px;
    text-shadow: 0 3px 42px #ffffff;
    color: #393f47;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;

    &::selection {
        background-color: #fbdc4d;
    }
}



.header-photo {
    position: relative;
    width: 50%;
    max-width: 460px;
    max-height: 410px;  
    overflow: hidden; 
    
    img {
        transform: translateY(-80px);
    }

    &::after {
        bottom: 0;
        left: 2%;
        content: " ";
        position: absolute;
        width: 440px;
        height: 510px;
        background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
        opacity: 0.3;
        transform: translate(140px, 130px);
        z-index: -1;
    }     
}

.header-buttons {
    display: flex;
}

.main-img {
    margin-top: -110px;
    z-index: 1;
    max-width: 1600px;
    margin: 0 auto;
}