.section-skills-desc {
    width: 53%;
}

.section-skills-desc-title {
    margin-bottom: 23px;
}

.content-skills {
    margin-bottom: 38px;    
    text-shadow: 0 3px 42px #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: 400;

    li {     
        position: relative;   
        padding-bottom: 3px;
        padding-left: 30px;

        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 15px;
            background-color: #000000;
            top: 18px;
            left: 0;
        }    
    }   
}

.section-skills-contacts { 
    width: 45%;
    display: flex;
    justify-content: flex-end;
    padding-right: 85px;
}

.section-skills-contacts-title {
    margin-bottom: 19px;
}

.skills-icon-links { 
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.skills-icon-links-social-github {
    font-size: 48px; 
    color: #000;
    margin-right: 20px;
    transition: .2s; 
   

    &:hover {
        color: #6ec747;
    }    

    &:active {
        color: #6ec747;
    }  
       
}

.skills-icon-links-social-telegram {
    font-size: 48px; 
    color: #039be5;
    margin-right: 20px; 
    transition: .2s;


    &:hover {
        color: #14628a;
    }
    &:active {
        color: #14628a;    
    }   

}

.skills-icon-links-social-vk {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 32px; 
    background-color: #4d76a1;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 20px; 
    transition: .2s;

    &:hover {
        background-color: #0c3868;
    }

    &:active {
        background-color: #0c3868;
    } 
}

.skills-icon-links-social-facebook {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 32px; 
    background-color: #3b5998;
    border-radius: 50%;
    color: #ffffff;  
    transition: .2s; 
    
    &:hover {
        background-color: #688cda;
        color: #5a5a5a; 
    }

    &:active {
        background-color: #688cda;
        color: #5a5a5a;
    } 
}

.link-email {
    text-shadow: 0 3px 42px #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;

    &:hover {
        color: #039be5;
        text-decoration: underline;
    }

    &:active {
        color: #ea655f;
        text-decoration: underline;
    }
 }

