.footer {
    padding: 25px 0 40px;
    background-color: #333333;

    @media (min-width:768px) {
      
    }

    @media (min-width:1200px) {
        padding: 25px 0 40px;        
    }
}

.footer-title  { 
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;   
}

.footer-content  { 
    color: #b0b0b0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.6;


    a {
        color: #b0b0b0;
        font-size: 16px;
        text-decoration: underline;
        transition: .5s;

        &:hover {
            color: #ffffff;
        }

        &:active {
            color: #ffffff;
        }
    }

    @media (min-width:768px) {
        letter-spacing: 0;              
    }
}